.DeviseFoot
  %ul.FooterContent
    %li.FooterContent__list
      プライバシーポリシー
    %li.FooterContent__list
      フリマ利用規約
    %li.FooterContent__list
      特定商取引に関する表記
  .FooterLogo
    = link_to image_tag("icon/logo-white.png", alt: "ロゴ", class: 'Logo'), root_path
  .FooterLast
    ©︎ Furima.inc