@mixin template_style {
  padding: 10px;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 15px;
  text-align: center;
}

@mixin form_style {
  margin-left: 20%;
  width: 60%;
  padding-top: 30px;
  font-size: 13px;
  text-align: left;
  font-weight: bold;
  .Mandatory {
    padding: 5px;
    background-color: red;
    color: white;
  }
  &__Form {
    font-weight: initial;
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
    &--Field {
      width: 50%;
      padding: 10px;
      .FormBar {
        width: 100%;
        padding: 10px;
      }
    }
  }
}

@mixin field_style {
  margin-top: 30px;
  margin-left: 20%;
  width: 60%;
  text-align: left;
  .FormTitle {
    font-weight: bold;
    display: inline;
    font-size: 13px;
  }
  .FormBar {
    width: 100%;
    height: 10%;
    padding: 10px;
    margin-top: 10px;
  }
}

@mixin btn_style {
  margin: 60px 0px;
  .CommitBtn {
    padding: 10px;
    background-color: #3CCACE;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 10px;
  }
}

.Page {
  background-color: rgb(240, 240, 240);
  width: 100%;

// 以下はトップページのheaderとは違うheaderのscss
  .DeviseHead {
    height: 15vh;
    @include template_style();
    .Logo {
      width: 30%;
      height: 55%;
      margin-top: 20px;
    }
  }

// 以下はユーザー新規登録とログイン画面のscss
  .MainContent {
    height: calc(100% - 25vh);
    background-color:white;
    @include template_style();
    &__Signin {
      height: 40px;
      font-size: 27px;
      font-weight: bold;
      margin-bottom: 40px;
      &__Form {
        @include field_style();
        .FormBarText {
          width: 100%;
          height: 400px;
          padding: 10px;
          margin-top: 10px;
        }
        .Mandatory {
          padding: 5px;
          background-color: red;
          color: white;
          margin-left: 20px;
        }
      }
    }
    &__Login {
      height: 60%;
      padding-top: 20px;
      font-size: 27px;
      font-weight: bold;
      .Transition_SignUp {
        padding-top: 10px;
        padding-bottom: 40px;
        font-size: 11px;
        color: gray;
        .Transition_Btn {
          display: block;
          width: 50%;
          font-size: 15px;
          text-decoration: none;
          padding: 10px;
          margin: 20px 0px 60px 25%;
          color: white;
          background-color: #3CCACE;
          border-radius: 10px;
        }
      }
      &__Form {
        @include field_style();
      }
    }

    .Person_Info {
      text-align: left;
      width: 60%;
      margin-left: 20%;
      padding: 40px 0px 10px 0px;
      &__Head {
        font-size: 15px;
        font-weight: bold;
      }
    }
    .RealName {
      @include form_style

    }
    .RealNameKana {
      @include form_style
    }

    .Actions {
      @include btn_style
    }
  }

// 以下はログアウト画面と新規登録完了画面のscss
  .MainSpace {
    height: 65vh;
    background-color:white;
    @include template_style();
    &__Signin {
      height: 40px;
      font-size: 27px;
      font-weight: bold;
      margin-bottom: 40px;
    }
    .Actions {
      @include btn_style
    }
  }

// 以下はトップページのfooterとは違うfooterのscss
  .DeviseFoot {
    height: 20vh;
    @include template_style();
    .FooterContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 9px;
      margin: 20px 20%;
    }
    .FooterLogo {
      .Logo {
        width: 30%;
        height: 60%;
      }
    }
    .FooterLast {
      font-size: 15px;
    }
  }

  // 以下はユーザーマイページのscss
  .TopContents {
    display: flex;
    justify-content: center;
  }
  .MiddleContents {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    text-align: center;
    margin-left: 10vw;
    .Sidebar {
      width: 20%;
      background-color: white;
      margin: 20px 10px 20px 0px;
      &__Top {
        padding: 20px 0px;
        margin-top: 10px;
        &__Title {
          font-size: 19px;
          font-weight: bold;
          padding: 4px;
          text-align: left;
          margin-left: 30px;
        }
        .ConfigurationList {
          li {
            padding: 10px;
            margin: 20px;
            font-weight: bold;
            border: solid 1px rgb(173, 167, 167);
            border-radius: 10px;
            text-align: left;
            .linkBtn {
              display: block;
              text-decoration: none;
              color: black;
            }
          }
        }
      }
    }
    .MainContents {
      background-color: white;
      padding: 10px;
      width: 80%;
      font-size: 15px;
      text-align: center;
      margin: 20px 0px 20px 10px;
      &__Head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        &__Left {
          font-size: 20px;
        }
        &__Right {
          background-color: #3CCACE;
          border-radius: 20px;
          .linkBtn {
            text-decoration: none;
            color: white;
            padding: 10px;
          }
        }
      }
      &__Neck {
        padding: 20px 0px;
        &__Business {
          display: flex;
          justify-content: center;
          li {
            padding: 5px;
          }
        }
        &__Profile {
          border: solid 1px #3CCACE;
          text-align: left;
          padding: 10px;
        }
      }
      &__Body {
        padding: 20px 0px;
        &__Title {
          font-size: 19px;
          font-weight: bold;
          padding: 4px;
          color: white;
          background-color: #3CCACE;
          border-radius: 5px;
        }
        .ItemsList {
          height: 330px;
          display: flex;
          justify-content: center;
          margin-bottom: 50px;
          .Item {
            width: 20%;
            height: 100%;
            padding: 5px;
            border: solid 1px #3CCACE;
            margin: 5px;
            position: relative;
            .ItemsList__Sold{
              width: 0;
              height: 0;
              border-top: 50px solid #EA352D ;
              border-right: 50px solid transparent;
              border-bottom: 50px solid transparent;
              border-left: 50px solid #EA352D ;
              z-index:100;
              position: absolute;
              top: 0px;
              left:-1px;
              &__Inner{
                transform: rotate(-45deg);
                font-size: 20px;
                margin:-25px 0px 0px -45px;
                color: #fff;
                font-weight: bold;
              }
            }
            &__image {
              .image {
                width: 100%;
                height: 190px;
              }
            }
            &__name {
              font-weight: bolder;
              margin-top: 10%;
            }
            &__info {
              display: flex;
              justify-content: space-between;
              margin: 10% 20%;
            }
          }
        }
      }
    }
  }
}

// 以下はユーザー登録時にエラーが出たときのエラーメッセージのscss
.check_point {
  color: red;
  text-align: center;
  font-weight: bold;
  border: solid 2px black;
}