-# .footer
-#   %ul.footer__contents
-#     %li.content
-#       %h2.content__head
-#         FURIMAについて
-#       %ul.content__head2
-#         %li.content__head3
-#           = link_to "#",class:"list" do
-#             会社概要(運営会社)
-#         %li.content__head3
-#           = link_to "#",class:"list" do
-#             プライバシーポリシー
-#         %li.content__head3
-#           = link_to "#",class:"list" do
-#             FURIMA利用規約
-#         %li.content__head3
-#           = link_to "#",class:"list" do
-#             ポイントに関する特約
    
-#     %li.content
-#       %h2.content__head
-#         FURIMAを見る
-#       %ul.content__head2
-#         %li.content__head3
-#           = link_to "#",class:"list" do
-#             カテゴリー一覧
-#         %li.content__head3
-#           = link_to "#",class:"list" do
-#             ブランド一覧
        
-#     %li.content
-#       %h2.content__head
-#         ヘルプ&ガイド
-#       %ul.content__head2
-#         %li.content__head3
-#           = link_to "#",class:"list" do
-#             FURIMAガイド
-#         %li.content__head3
-#           = link_to "#",class:"list" do
-#             FURIMAロゴ利用ガイドライン
-#         %li.content__head3
-#           = link_to "#",class:"list" do
-#             お知らせ
        
-#   .footer__logo   
-#     = link_to image_tag("logo-white.png", width: '160',height: '46.34')
-#   %p.footer__logo3 
-#     ©️ FURIMA
  
-#   .footer__newitemBtn
-#     出品する
-#     = link_to image_tag("icon_camera.png", width: '54',height: '54') 
  