.Notification {
  .notice {
    background-color: #38AEF0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }

  .alert {
    background-color: #F35500;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }
}