.AppBanner {
  background-image: url(/assets/bg-appBanner-pict.jpg);
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  &__inner {
    color: #fff;
    text-align: center;
    &__title {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__icons {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      &__Abtn {
        height: 53px;
        width: 180px;

      }
      &__Gbtn {
        height: 76px;
        width: 180px;
        margin-top: -11px;
        margin-left: -10px;
      }
    }
  }
}

.Footer {
  padding: 60px 0;
  color: white;
  background-color: #272727;
  text-align: center;
  &__contents{
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    .Contents__content{ 
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      &__head2{
        list-style: none;
        &__inner{
          font-size: 12px;
          line-height: 32px;
          &__link{
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
  &__logo{
    height: 46px;
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    &__img {
      color:white;
      vertical-align: bottom;
      margin:0;
      padding:0;
    }
  }
  &__logo2{
    font-size: 14px; 
    margin:0;
  }
}  