* {
  box-sizing: border-box;
}

.FurimaLogo {
  height: 30px;
  width: 90px;
}

.Purchases {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    width: 100vw;
    height: 10vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__main {
    width: 100vw;
    // height: calc(100vh - 20vh);
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;

    &__check {
      width: 520px;
      // height: 560px;
      padding: 20px 0;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__title {
        width: 70%;
        height: 15%;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        padding-top: 25px;
        border-top: 1px solid black;
      }

      &__product {
        width: 70%;
        height: 40%;
        display: flex;
        justify-content: center;
        border-top: 1px solid black;
        padding: 20px 0;

        &__image {
          width: 50%;
          height: 100%;

          &__photo {
            width: 100%;
            height: 100%;
          }
        }

        &__content {
          width: 50%;
          height: 100%;
          font-size: 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      &__paymentPrice {
        width: 70%;
        height: 15%;
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 20px;
        border-top: 1px solid black;
        padding-top: 25px;

        &__title {
          margin-right: 20px;
        }
      }

      &__delivery {
        width: 70%;
        height: 15%;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding-top: 10px;
    
        &__title {
          font-size: 12px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        &__address {
          margin-bottom: 10px;
        }
      }

      &__btn {
        font-size: 25px;
        color: whitesmoke;
        background-color: orange;
        border-radius: 20px;
        padding: 10px;
        margin-top: 20px;
        text-shadow:
          1px 0 0 black,
          0 1px 0 black,
          -1px 0 0 black,
          0 -1px 0 black,
      }
    }
  }

  &__footer {
    width: 100vw;
    height: 10vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    &__content {
      width: 100%;
      display: flex;

      &__list {
        width: 100%;
        font-size: 10px;
        display: flex;
        justify-content: center;
        list-style: none;

        &__type {
          margin-right: 20px;
        }        
      }
    }
  }
}

