* {
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}
.input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.Main{
    background: #f8f8f8;
    &__show{
        padding:20px;
        margin: 0 auto;
        text-align:center;
        &__contentRight{
            margin: 0 auto;
            display: block;
            list-style: none; 
            width: 700px;
            &__topContent {
                width: 700px;
                height: 1180px;
                margin: 0 auto; 
                &__itemBox {
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 700px;
                    height: 100%;
                    background-color: white;
                    &__name {
                        font-size:24px;
                        text-align:center;
                        font-weight: bold;
                        padding: 10px 0;
                    }
                    &__images {
                        .itemImage_main {
                            height: 350px;
                            margin-bottom: 10px;
                        }
                        .itemImage_sub {
                            height: 100px;
                            display: flex;
                            justify-content: space-around;
                        }
                    }
                    &__priceMark {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 46px;

                        .price {
                            font-weight: bold;
                            font-size: 46px;
                            color:black;
                            margin-left: 10px;
                            }
                    }
                    &__priceTax {
                        text-align:center;
                        font-size: 16px;
                        }
                    &__text {
                        width: 90%;
                        font-size: 20px;
                        padding: 20px 20px;
                        word-break: break-all;
                        text-align: left;
                    }
                    &__table{
                        display: flex;
                        margin: 0 auto;
                        border-collapse: collapse;
                        border: 1px solid #f8f8f8;       
                        &__tbody{
                            display: table-row-group;
                            vertical-align: middle;
                            border-color: inherit;  
                            .table-contents{
                                margin: 0 auto;
                                height: 50px;
                                display: flex;
                                align-items: center;
                                vertical-align: inherit;
                                border-color: inherit; 
                                .table-left{
                                    width: 152px;
                                    height: 100%;
                                    background-color: #eee;
                                    border: 1px solid #dedede;
                                    font-size: 14px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                                .table-right{
                                    width: 467px;
                                    height: 100%;
                                    border: 1px solid #dedede;
                                    font-size: 14px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                            }
                        }
                    }
                
                    .itembuy-price-box{
                        font-size: 24px;
                        line-height: 60px;
                        display: block;
                        background: #ea352d;
                        color: #fff;
                        text-align: center;
                        font-weight: 600;
                    }

                    .itembuy-price-box2{
                        font-size: 24px;
                        line-height: 60px;
                        display: block;
                        margin-top: 16px;
                        background: #aaa;
                        color: blue;
                        text-align: center;
                        font-weight: 600;
                    }
                    &__optionalArea {
                        width: 90%;
                        display: flex;
                        justify-content: space-between;
                        margin-top: 30px;

                        .optinalArea_likes {
                            width: 140px;
                            height: 40px;
                            padding: 6px 10px;
                            border-radius: 40px;
                            color: #3CCACE;
                            border: 1px solid #ffb340;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .likes_link {
                                color: #3CCACE;
                            }

                            .like-btn {
                                width: 15px;
                                height: 10px;
                                font-size: 15px;
                                color: #3CCACE; 
                            } 
                        }
                        .optinalArea_report{
                            padding: 6px 10px;
                            border-radius: 4px;
                            color: black;
                            border: 1px solid #333;

                            .report_link {
                                color: black;
                            }

                            .report-btn {
                                width: 15px;
                                height: 10px;
                                font-size: 15px;
                                color: black;
                            } 
                        }
                    }  
                } 
            }

            &__commentBox {
                height: 330px;
                margin-top: 10px;
                background-color: white;
                
                .comment-form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;

                    .comment-area {
                        width: 90%;
                        height: 125px;
                        border: 1px, solid;
                        margin: 30px 0 15px 0;
                        padding: 10px;
                    }

                    .comment-btn {
                        width: 50%;
                        height: 50px;
                        font-size: 20px;
                        font-weight: bold;
                        color: white;
                        background-color: #3CCACE;
                        border: none;
                        border-radius: 30px;
                    }

                    .comment-icon {
                        color: white;
                        position: absolute;
                        top: 273px;
                        left: 272px;
                    }
                }
                &__note {
                    width: 90%;
                    background-color: whitesmoke;
                    font-size: 15px;
                    text-align: left;
                    padding: 10px;
                    margin-bottom: 20px;
                }
            }
            &__links {
                background-color: #f8f8f8;
                height: 30px;
                display: flex;
                justify-content: space-between;
                margin: 10px 0 10px 0;

                &__prev { 
                    .before__item{
                        color:#3CCACE;
                    }
                }
                &__next {
                    .after__item{
                        color:#3CCACE;
                    }
                }
            }
            &__relatedItems {
                height: 300px;
                &__more {
                    text-align: left;
                    margin-bottom: 10px;
                    .etc-items {
                        color: #3CCACE;
                        font-size: 25px;
                        font-weight: bold;
                    }
                }    
                &__lists {
                    padding:20 0 0 0px;
                    display:flex;
                    justify-content: space-around;

                    &__product {
                        &__body {
                            text-align: left;
                            width: 200px;
                            padding: 15px 15px;
                            font-size: 15px;
                            background-color: white;

                            .product-name {
                                color: black;
                            }
                            .product-detail {
                                color: black;
                                display: flex;
                                justify-content: space-between;
                                
                                &__likes {
                                    padding-top: 5px;
                                }
                            }
                        }
                    } 
                }
            }
        }      
    }
}

.appBanner{
    background-image: url(/assets/bg-appBanner-pict.jpg);
    padding: 100px 40px;
    background-size: cover;
    &__inner{
        text-align: center;
        color:white;
        &__title{
            text-shadow: 0 0 5px rgba(0,0,0,0.4);
            font-size: 24px;
            font-weight: bold;
            line-height: １.4;
        }
        &__text{
            font-size: 40px;
            text-shadow: 0 0 5px rgba(0,0,0,0.4); 
            margin:0 0 20px 0;
        }
        &__icon {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 20px;
            &__aBtn{
                height: 100%;
            }
            &__gBtn{
                width: 180px;
                height: 100%;
            }
        }
    }
}